<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <style>
        body{
            font-family:'Roboto', sans-serif;
            font-size: 12px;
        }

        .content{
            background-color: #fff;
            margin: auto;
            overflow: auto;
            padding: 1em 2em;
        }
    </style>
</head>
<body>
<div class="content">
    <div>
        <p>株式会社リッケイサービス運営部です。</p>
        <p>株式会社リッケイサービスをご利用いただき誠にありがとうございます。</p>
    </div>

    <p>お客様のアカウントを作成しました。以下のURLをクリックいただき、アカウントのアクティベートができます。</p>
    <p>どうぞよろしくお願いいたします。</p>
</div>
</body>
</html>