<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="APP_LOG_ROOT">./logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <RollingFile name="RollingFile"
                     fileName="${APP_LOG_ROOT}/timekeeping/auth.log"
                     filePattern="${APP_LOG_ROOT}/timekeeping/auth_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!--  Starts a new file when size reaches threshold -->
                <SizeBasedTriggeringPolicy
                        size="40 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>

        <!-- LOG "com.scrw.warehouse.*" at INFO level -->
        <Logger name="com.timekeeping.auth" level="INFO"></Logger>
    </Loggers>

</Configuration>
